/* グローバルなスタイル */
table {
    width: 80%;
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.8rem;
    text-align: left;
}

/* タグ選択用のチェックボックスラベル */
.tag-checkbox-label {
    font-size: 0.8em;          /* 少し小さめの文字サイズ */
    display: inline-block;      /* 折り返し対応 */
    word-wrap: break-word;      /* 長い単語でも折り返す */
    margin: 4px 0;              /* 上下の余白を追加 */
    line-height: 1.1;           /* 行間を少し広げる */
}

/* テーブルのスタイル */
thead th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 8px;
    border-right: 1px dotted #999;
    width: 200px;
}

/* 最初の3列の幅を指定 */
thead th:nth-child(1),
tbody td:nth-child(1) {
    width: 180px;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
    width: 100px;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
    width: 300px;
}

thead th:nth-child(4),
tbody td:nth-child(4) {
    width: auto; /* 残りの幅を自動的に割り当て */
}

tbody td {
    padding: 8px;
    border-right: 1px dotted #999;
}

tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

/* 検索ボタンのコンテナ */
.search-button-container {
    margin-top: 15px; /* 上に余白 */
    margin-bottom: 15px; /* 下に余白 */
}

/* 検索結果メッセージ */
.search-result-message {
    margin-top: 15px;         /* 検索ボタンとの間に余白 */
    font-size: 1rem;          /* 標準的な文字サイズ */
    color: #333;              /* テキストカラー */
}

.search-result-message p {
    margin: 0;
    padding: 10px;
}

/* 一覧のタグラベル */
.tag-label {
    display: inline-block; /* ラベルを横並びに */
    background-color: #eeeeee; /* 背景色 */
    color: #553300; /* 文字色 */
    padding: 2px 5px; /* 内側の余白 */
    margin: 2px; /* ラベル間の隙間 */
    border-radius: 5px; /* 角を丸くする */
    font-size: 0.8rem; /* 小さめの文字サイズ */
    white-space: nowrap; /* 折り返しを防止 */
    border: 1px solid #553300; /* 枠線 */
}

/* お気に入りに追加ボタン  */
.fav-add {
    background-color: #8899ff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* お気に入りから削除ボタン */
.fav-remove {
    background-color: pink;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* ラベルのホバー効果 */
.tag-label:hover {
    background-color: #ffffff; /* ホバー時に背景色を変更 */
    cursor: pointer; /* ホバー時にポインターを表示 */
}

/* フッターのスタイル */
.site-footer {
    font-size: 50%;
    color: #333;
}
